.Header{
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
    background-color: rgb(246, 240, 240);

}
.Backbtn{
    height: 30px;
    width: 70px;
    border: 1px solid red;
}
.image{
    height: 60px;
    background: transparent;
}

